@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  overflow: hidden;
  position: fixed;
}

#root {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}